nav {
  font-family : 'Bungee', cursive;
  height : 120px;
  width :100vw;
  background-color: #4056A1;
  color :#FFF;
  padding : 0 1.5em 0 1.5em;
  display :flex;
  justify-content:space-between;
  position:fixed;
  top:0;
}


.newtweet {
  display :flex;
  justify-content :right;

}
.cl-1{
  color: #FFF;
  font-family: 'Times New Roman', Times, serif;
 
}
.cl-2{
  color :#b92323;
  
  
}



